<form method="post" action="/user/dash/message" class="chatbox d-flex p-1 align-items-center justify-content-between">
    <input type="text" name="chatinput" class="form-control chatinput" style="width:75%;">
    <input type="hidden" name="userid" name="userid" class="userid" value="{{user._id}}">
    <input type="hidden" value="{{receiver._id}}" name="receiverid" class="receiverid">
    <button type="submit" class="btn btn-primary">Send</button>
</div>