<form method="post" action="/user/dash/message" class="chatbox d-flex p-1 align-items-center justify-content-between">
    <input type="text" name="chatinput" class="form-control" style="width:75%;">
    <button type="submit" class="btn btn-primary">Send</button>
</div>