<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{> mainCss}}
    <link rel="stylesheet" href="/styles/mainprofile.css">
    
  </head>
  <body>
    {{>navbar page="dashboard"}}
    <div class="d-flex wrapper">
      {{>aside}}
      <div class="main d-flex flex-column align-items-center">
      {{>main}}
      <input type="hidden" value="{{user._id}}" name="userid" class="userid">
      </div>
      {{>asideTwo}}
    </div>
    {{> bootstrapjs}}
    {{!-- should be done at the time of authentication only not again and again --}}
        <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/connecttosocket.js"></script>
  </body>
</html>