.innerticket {
  background-color: #02343f;
  color: #f0edcc;
  border-radius: 10px;
  padding: 2%;
  width: 95%;
}
.ticketind div span {
  font-weight: 500;
  font-size: 1.2rem;
}
.ticketind {
  background-color: #f0edcc;
  color: #02343f;
  border-radius: 10px;
  padding: 1%;
}
